<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Order</ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="addFormControl()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usersForm" >
    <ng-container *ngFor="let userFormGroup of usersForm.controls.users.controls; let i = index;">
      <div [formGroup]="userFormGroup">

        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Product</ion-label>
                <ion-select value="product" okText="Okay" cancelText="Dismiss" formControlName="product">
                  <ion-select-option *ngFor="let p of productJson" value="{{p.pname}}">{{p.pname}}</ion-select-option>
                </ion-select>
              </ion-item>

              
              <ion-item>
                <ion-label position="stacked" color="primary">Quantity
                </ion-label>
                <ion-input type="number" formControlName="quantity"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" color="primary">Discount
                </ion-label>
                <ion-input type="number" formControlName="discount"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" color="primary">Product Cost
                </ion-label>
                <ion-input type="number" formControlName="pcost"></ion-input>
              </ion-item>
              
              <div class="ion-text-center ion-padding-top " *ngIf="i!=0" >
                <ion-buttons>
                  <ion-button color="danger" fill="outline" (click)="removeFormControl(i)">
                    <ion-icon  slot="start" name="trash"></ion-icon>Remove
                  </ion-button>
                </ion-buttons>
              </div>
              


            </ion-list>
          </ion-card-content>
        </ion-card>
 
      </div>
    </ng-container>
  </form>
  <div class="ion-padding ion-text-center">
    <ion-button (click)="onSubmit()">Submit</ion-button>
  </div>
</ion-content>