
.active-menu {
  border-left: 5px solid var(--ion-color-danger);
}

.active-menu1 {
  border-left: 5px solid var(--ion-color-success);
}

.active-menu2 {
  border-left: 5px solid var(--ion-color-primary);
}